.grey{
    background: lightgrey;
    height: 2000px;
    margin-top: 500px;
}
.img{
    float: right;
    width: 400px;
    position: sticky;           /* 화면 고정 (조건부로 fixed 부모박스 넘어서면 해제) */
    top: 100px;                 /* 어디에 고정할 지 정함 */
}
.text{
    float: left;
    width: 400px;
}