.main-background{
    width: 100%;
    height:500px;
    background-image: url("/portfolio/image/me1.jpeg");
    background-size: cover;         /* div 박스를 꽉채워라 / contain : 짤리지 않게 해라*/              
    background-repeat: no-repeat;   /* 백그라운드가 반복적으로 나타나지 않도록 하는 명령어 */
    background-position: center;    /* 사진의 가운데 중점으로 보여줘라 */
    /* background-attachment: fixed;        스크롤시 배경 위치 조정 가능 */
    filter : brightness(90%);      /* 밝기 필터(채도 및 여러가지 가능) 안에 글씨 있으면 글씨에도 필터가 입혀짐 */
    padding: 1px;
}
.main-title{
    color: white;
    font-size: 40px;
    margin-top:200px;  
     /* margin collapse effects 발생 (위쪽 테두리가 곂칠 때 발생, margin이 합쳐짐) 
        부모요소에 패딩을 추가하면 해결*/

}
.main-content{
    color: white;
    font-size: 30px;
}
.main-button{
    border-radius: 5px;
}