.main-background{
    width: 100%;
    height:500px;
    background-image: url("/portfolio/image/me1.jpeg");
    background-size: cover;         /* div 박스를 꽉채워라 / contain : 짤리지 않게 해라*/              
    background-repeat: no-repeat;   /* 백그라운드가 반복적으로 나타나지 않도록 하는 명령어 */
    background-position: center;    /* 사진의 가운데 중점으로 보여줘라 */
    /* background-attachment: fixed;        스크롤시 배경 위치 조정 가능 */
    filter : brightness(90%);      /* 밝기 필터(채도 및 여러가지 가능) 안에 글씨 있으면 글씨에도 필터가 입혀짐 */
    padding: 1px;
    position : relative;
}
.main-title{
    text-align: center;
    color: white;
    font-size: 40px;
    margin-top:200px;  
     /* margin collapse effects 발생 (위쪽 테두리가 곂칠 때 발생, margin이 합쳐짐) 
        부모요소에 패딩을 추가하면 해결*/
    

}
.main-content{
    text-align: center;
    color: white;
    font-size: 30px;
}
.main-button{
    width: 100px;
    padding:15px;
    font-size: 20px;
    background: white;
    border:none;            /* 테두리 흰색 없애기 */
    border-radius: 5px;
    position: absolute;    
    right : 0px;              /* 포지션 속성이 있어야 사용가능*/
    left:0px;
    margin : auto;

    /* position 부여하면 1.좌표이동가능 / 2.공중에 뜸 (글자 길이에 영향을 받지 않음)
        static : 좌표이동 x / fixed : 화면 고정 (현재 화면을 기준으로 고정되는 요소가 필요할 때 사용
        absolute : 내 부모 태그가 기준(relative 가진 부모) / relative : 내 원래 위치가 기준*/
}
.main2{
    width: 80%;             /* 부모 width의 80% */
    max-width: 600px;       /* 모바일 환경에서는 적당하지만 pc사이즈에서 너무 클 때 최대 폭 설정 min,height도 가능*/
    margin : auto;
    padding : 20px;
    text-align: center;
    background-color: #eee;
    position: relative;
    top:-50px;
    
}
/* z-index 
    공중에 떠 있는 애들이 많을 때의 우선 순위 정하기 
    z-index : 숫자; 숫자가 높을 수록 앞으로 옴 
                        낮을 수록 뒤로 감*/
/* width는 내용(content)영역의 너비를 의미함 
   박스에 width:600px를 줘도 padding : 50px를 주면 실제 보이는 width는 700px
   해결책 : content부분만 width로 설정하지 말고 padding, border를 포함하는게 좋음*/
div{
    box-sizing: border-box; /* 실제 폭을 보여줘라 */
}
body{
    margin:0px;
}
/* 시작 전 미리 써놓으면 좋은 코드들 
    호환성 이슈 해결책부터 첨부하는 경우가 있음. 
    narmalize.css 구글에 검색하면 브라우저간의 균일한 스타일을 제공함 */
input[type=text]{           /* input[속성명=속성값] : 타입이 속성인 것만 적용시켜주세요 */
    padding: 20px;
    font-size: 20px;
    border: 2px solid black;
    border-radius: 5px;
}
                   