div, input, textarea{               /* selector 에서 콤마쓰면 중복선택가능 클래스명도 가능*/
    box-sizing: border-box;
}

.form-background{
    background-color: black;
    padding:30px;
}
.form-white{
    background-color: white;
    padding:30px;
    width: 80%;
    max-width: 600px;
    margin: auto;
}

.form-input{
    width: 100%;            /* 실제 width는 100%+20px*/
    padding:10px;
    font-size: 20px;
    border: 1px solid black;
    border-radius: 5px;
    
}
.w-100{
    width: 100%;
    padding:10px;
}
.w-50{
    width: 50%;
    float: left;
    padding:10px;
}
.yellow-button{
    width: 100px;
    color: white;
    padding: 10px;
    background: orange;
    border: 5px;
    border-radius: 10px;
    display: block;
    margin-left: auto;
    float: right;
}
/* 1. 셀렉터에 콤마쓰면 여러개 동시 선택 가능
   2. 재사용 가능하게 class 만들기
   3. input 태그를 사용할 때 label태그 활용하기 */

@font-face{
    font-family:'작명~~~';
    src : url();
}
/* 한글폰트 사이즈는 너무 큼 1~2개 권장 / 용량 줄이려면 .woff */

body{
    margin: 0px;
    font-family:'gulim','dotum','arial';
    font-weight: 100; /* 글씨체 굵기 100~900 <- 안 예쁨 / 굵은 폰트를 따로 등록해야 이쁨 */
}
/* font-family는 inherit 됨 */
/* 굴림 안되면 돋움 안되면 아리알체를 적용해주세요(안정성 올라감)
    pc에 설치된 폰트만 적용 가능
    구글 폰트도 사용하기 */
/* 폰트를 부드럽게 해보려면 transfomr:rotate(0.03deg) 정도 해보면 안티앨리어싱 된 듯한 느낌 */
