.container{
    width:800px;
    margin-left: auto;
    margin-right: auto;
}
.left{
    width : 80%;
    height:  200px;
    float:left;
}
.right{
    width: 20%;
    height: 200px;
    float:left;
    
}
.blog-profile{
    width:50px;
    display: block;
    float:left;
}
.blog-name{
    float:left;
}