body{
    margin: 0;
}
.grey{
    background: lightgray;
    height:2000px;
    margin-top: 500px;
    
}
.image{
    float: right;
    width:400px;
    position: sticky;   /* fixed랑 유사 / sticky 조건부로 픽스 스크롤 시 이미지를 만났을 떄 적용, 부모 박스를 만났을 때 풀림*/
    top: 100px;
}

.text{
    float: left;
    width:50px;
}